.container {
	display: flex;
	flex-direction: row;
	.content {
		width: 100%;
		.date_selected {
			margin-top: 9%;
			font-size: 2em;
			color: black;
			font-weight: bold;
			text-align: center;
		}
		.grid {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: min-content;
			// margin-top: 7%;
		}
		.delivery_paths {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}