@import "../../../assets/variable.scss";

.card {
	background-color: $bg-color;
	border-radius: 0.2em;
	// padding: 1em;
	margin: 2em;
	height: fit-content;

	.card_label {
		font-size: 1.5em;
		font-weight: bolder;
		margin: 0;
	}

	.title {
		font-size: 1.5em;
		font-weight: bold;
		margin: 0.2em;
		margin-left: 0;
		color: $primary-color;
	}
	.count_wrapper {
		width: 2.5em;
		height: 2.5em;
		border-radius: 50%;
		background-color: $primary-color;
		justify-content: center;
		align-items: center;
		display: flex;
		.count {
			font-size: 1em;
			color: $bg-color;
			margin: 0.2em;
		}
	}
	.row_1 {
		margin: 1em;
	}
	.row {
		background-color: whitesmoke;
		display: flex;
	}
	.add_margin {
		margin: 0.2em;
	}

	&:hover {
		opacity: 0.7;
		cursor: pointer;
	}
}